extends layout

block content
  h1= title
  p Welcome to #{title}
  p These microservices communicate thought RabbiqMQ .
  p Source code:
    a(href='https://github.com/carlasampaio01/nodejs-microservices') GitHub
